fastapi-poe
python-telegram-bot
emoji
ffmpeg-python
pydub
numpy
faster-whisper
fastapi
uvicorn
huggingface_hub
scikit-learn
langdetect
pyht
librosa
anthropic
pytest>=7.0.0
pytest-cov>=4.0.0
sounddevice>=0.4.6
soundfile>=0.12.1
pytest-asyncio>=0.23.0
py-cpuinfo>=9.0.0
debugpy>=1.6.7
python-multipart>=0.0.20